.mainimg {
    height: 300px;
    position: relative;
}


#banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}


.content {
    position: absolute;
}

.mainheading {
color: white;
    font-weight: 500;
}

p{
    color: var(--grey-color);
    line-height: 1.7; 
}
ul{
 
    color: var(--blue-color); font-weight: 600;
    list-style-image: url(../../../assets/icons/icons8-tick-24.png)
}

i{
    font-size: 40px;
    color: var(--blue-color)
}

.card{
    text-align: center;
    height: 10rem;
    border:none;
    /* width: 18rem; */
}

h3{
    color: var(--blue-color);
}



@media(max-width:500px){

    .mainheading{
     font-size: 30px;
     width: 80%;
    }
 
    .content{
     display: flex;
     justify-content: center;
     align-items: center;
    }
 
    #banner{
     height: 200px;
    }
 }