.mainimg {
    height: 300px;
    position: relative;
}


#banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

/* .performance {
    margin: 50px auto;
} */
.content {
    position: absolute;
}

.services {
    padding: 0 80px;
}

.mainheading {
    color: white;
    font-weight: 500;
}

p{
    color: var(--grey-color);
    line-height: 1.7; 
}

.icon {
    height: 28px;
    width: 28px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: var(--blue-color);
    fill: #fff;
    padding: 0px 6px 3px;
}

ul{
    color: var(--blue-color); font-weight: 600;
    padding: 0;
}
ul li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

.ul-f {
    margin: 0 25px 0 0;
}

i{
    font-size: 40px;
    color: var(--blue-color);
}

.card {
    text-align: center;
    height: 10rem;
    border: none;
}
.card:hover {
    background-color: var(--blue-color);
}

.card:hover * {
    color: #fff;
}

h3{
    color: var(--blue-color);
}

@media(max-width:500px){
    .mainheading{
     font-size: 30px;
     width: 100%;
    }
 
    .content{
     display: flex;
     justify-content: center;
     align-items: center;
    }
 
    #banner{
     height: 200px;
    }
 
.section-2 p{
    text-align: justify !important;
}

.section-2{
    padding: 0px 15px;
}

.services{
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 0px;

}

.card-title{
    font-size: 14px;
}

.card{
    width: 10rem !important;
}
/* css for overflow scroll bar */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--grey-color); 
    border-radius: 10px;
  }
}