<div class="container-fluid">

    <div class="row">


        <div class="mainimg col-md-12 px-0 d-flex align-items-center justify-content-center">


            <img id="banner" src="../../../assets/images/1st-Image.jpeg" alt="">

            <div class="content">
                <h1 class="mainheading ml-3">Values</h1>
            </div>
        </div>


        <div class="col-md-12">

            <p>At Captive Aire we are focused on outstanding performance through</p>
            <ul>
                <li>Integrity</li>
                <li>Client Saitisfaction</li>
                <li>Innovative Solutions</li>
                <li>Professional Honesty</li>
                <li>Safety & Environment</li>
            </ul>
        </div>

        <div class="col-md-12 text-center">
            <h3>Our Vision</h3>
            <p>At Captive Aire our vision is to Identify client’s needs and providing them an exceptional solution of
                Heating, Ventilation, Air Conditioning, Plumbing and Fire Fighting System. </p>
        </div>

        <div class="row mb-4 px-2">
            <div class="col-md-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <i class="bi-emoji-laughing"></i>
                    <div class="card-body">
                        <h6 class="card-title">Enhancing Customer Experience</h6>
                    </div>
                </div>
            </div>


            <div class="col-md-3  d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <i class="bi-heart"></i>
                    <div class="card-body">
                        <h6 class="card-title">Value to Customers</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3  d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <i class="bi-trophy"></i>
                    <div class="card-body">
                        <h6 class="card-title">Delivering best-in-class performance</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3  d-flex justify-content-center">
                <div class="card">
                    <i class="bi-flower2"></i>
                    <div class="card-body">
                        <h6 class="card-title">Innovating sustainable solutions for future</h6>
                    </div>
                </div>
            </div>

        </div>

