.mainimg {
    height: 500px;
    position: relative;
    text-align: center;
}

#banner {
    height: 100%;
    width: 100%;
    filter: brightness(0.5);
}

.mainheading {
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 360;
    animation: 1s ease-out 0s 1 slideInFromTop;

}

.clients {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
}

.content {
    position: absolute;
}

.card {
    cursor: pointer;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: scale(1.11, 1.11);
    transition: all 0.2s linear;
}

.card-img-top {
    width: 100%;
    height: 200px;
}


.services-section {
    background-color: #e5f2e5;
}

.heading {
    font-size: 30px;
    font-weight: 500;
    color: var(--blue-color);
}

.card-title {
    color: var(--blue-color);
    font-size: 20px; height: 3rem; display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    font-size: 14px;
}

.card-text,
p,
.sector-title {
    color: var(--grey-color);
}



.img-green {
    position: relative;
    width: 100%;
}

.content-green {
    position: absolute;
    width: 65%;
    padding-left: 70px;
    /* right: 35px; */

}

#green-img {
    width: 100%;
    height: 350px;
    object-fit: fill;
}


#green-title {
    font-size: 40px;
    color: #34764c;
}

#green-para {
    color: black;

}


.client-carousel {
    width: 100%;
    /* height: 100px; */
}

#client-logo {
    height: 200px;
    width: 200px;
}


.hr-clients {
    width: 20%;
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
    margin-left: 0px;
}

.hr-underline {
    width: 15%;
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
}


.card:hover .card-title {
    color: var(--red-color);
    transition: 0.2s all linear;
}



.services-cards {
    justify-content: space-between;
    gap: 20px;
    padding: 0 50px;
}

.clients-heading {
    font-size: 32px;
    font-weight: 500;
    color: var(--blue-color);
}

#work-img {
    width: 70%;
    height: 70%;
}


i {
    font-size: 2rem;
    color: var(--blue-color);
}

.sector-icons {
    color: var(--blue-color);
    font-weight: 500;
}


.icon-boundry {
    border: 2px solid var(--blue-color);
    padding: 0px -1px;
    height: 4rem;
    width: 4rem;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sector-mob {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.section-2{
    height: 350px;
    font-size: 50px;
    font-weight: 500;
}

#video-2{
    width: 100%;
    height: 350px;
}

.carousel-control-prev-icon {
    background-image: url("../../../assets/icons/left-arrow.png");
}

.carousel-control-next-icon{
    background-image: url("../../../assets/icons/right-arrow.png");
}


.carousel-inner{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}


#carouselExampleControls{
    width: 100%;
}

.paragraphs {
    color: var(--grey-color);
    line-height: 1.7;
}


@media(max-width: 1000px) {
    .services-cards {
        justify-content: center;
        gap: 40px;
    }
}

@media(max-width:500px) {

    .mainheading {
        text-align: center;
        font-size: 26px;


    }

    .intro {
        width: 90%;
        font-size: 12px;
    }

    .mainimg {
        height: 255px;
    }


    .content {
        padding: 3px;
    }

    .learn-more-btn {
        font-size: 10px;
    }

    .heading {
        font-size: 26px;
    }

    #green-title {
        font-size: 32px;
    }

    #green-para {
        font-size: 12px;
    }

    #green-img {
        height: 250px;

    }

    .content-green {
        padding-left: 28px;
    }

    .clients {
        flex-direction: column;
        padding: 0 10px;
    }



    .clients-heading {
        font-size: 26px;
        line-height: 1.2;
    }


    #work-img {
        width: 100%;
        height: 70%;
    }



    .hr-underline,
    .hr-clients {
        width: 50%;
    }


    .sector-mob {

        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .sector-icons {
        font-size: 15px;
    }

    .sector-section {
        padding: 0 !important;
        margin: 5px 0px !important;
    }


    .section-2{
        height: 300px;
        font-size: 25px;
        font-weight: 500;
        margin-top: 3px !important;
        margin-bottom: 3px !important;
        text-align: center;

    }

    #section-2{
        justify-content: center;
    }
    
    #video-2{
        width: 100%;
        height: 200px;
      
    }

    .client-carousel{
        margin-top: 15px;
    }

    .carousel-inner{
        justify-content: space-around !important;
    
    }

    #client-logo{
        height: 170px;
    width: 170px;
}

/* css for overflow scroll bar */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--grey-color); 
    border-radius: 10px;
  }
 

}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}