<div class="container-fluid">
    <div class="row">
        <div class="mainimg col-md-12 px-0 d-flex align-items-center justify-content-center">
            <img id="banner" src="../../../assets/op-main/op-main-banner.jpg" alt="">

            <div class="content">
                <h1 class="mainheading ml-3">Operation & Maintenance</h1>
            </div>
        </div>

        <section class="col-md-6 mt-5 px-5 section-1">
            <h2 class="headings">Why Captive Aire for Maintenance?</h2>
            <p class="paragraphs">
                Pakistan prone to 50+ degrees of temperature on average, demand and need for the cooling devices and
                machinery, inclusive of the air conditioner is normalcy. Captive Aire with a team of certified and
                experienced technicians, offer professional Maintenance Services to commercial and industrial clients.
                We have a specialized team to deliver outstanding services. With every service request, we follow
                systematic procedures ensuring the most scientific and advanced means of operation n maintenance.
            </p>
        </section>

        <section class="col-md-6 mt-5 px-5 section-2">
            <h2 class="headings">360 Service & Support 24/7</h2>
            <p class="paragraphs">
                CAPTIVE AIRE is one of the preferred choice for HVAC operation and maintenance requirement across
                Pakistan we are equipped with a large maintenance ﬂeet and ﬁnest maintenance tools including testing and
                inspection equipment to ensure the best performance on any assigned task. The operation and maintenance
                team is trained to make use of dedicated softwares allowing instant channeling review reporting and
                monitoring of all service requests. Our Professional service include total building annual HVAC
                operation and maintenance contracts.
            </p>
        </section>


        <section class="col-md-12 mt-5 px-5 section-3">
            <div class="text-center">
                <h2 class="headings">Sustainable Solutions At An Affordable Rate</h2>
                <hr class="hr-underline">
                <p class="paragraphs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo repellat cumque
                    eaque odit dolores eveniet temporibus inventore. In nobis consectetur, temporibus accusantium
                    repellendus optio? Minus distinctio adipisci soluta iusto officia! To earn an advantage over the air
                    conditioner maintenance service companies
                    Captive
                    Aire maintenance department implements Sustainable Solutions At An Affordable Rate.</p>
            </div>
            <div class="d-flex justify-content-center" id="section-3a">
                <div class="card text-center" style="width: 18rem;" *ngFor="let item of array1">
                    <i class={{item.icon}}></i>
                    <div class="card-body">
                        <h6 class="card-title">{{item.title}}</h6>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-md-12 mt-5 section-4">
            <img src="../../../assets/op-main/op-main-banner2.jpg" alt="">
        </section>

        <section class="col-md-12 mt-5 px-5 section-5">
            <div class="text-center">
                <h2 class="headings">Motivated To Serve The Growing Clients Of Air Conditioning Units</h2>
                <hr class="hr-underline">
                <p class="paragraphs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore velit hic
                    accusantium ad, harum nam, nobis quaerat sequi, deleniti illum labore necessitatibus illo eos! Unde
                    molestiae omnis autem inventore tempora. Our maintenance service is well known for the maintenance
                    of:</p>
                <div class="d-flex justify-content-center">
                    <ul class="text-left">
                        <li>
                            <svg class="icon">
                                <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                            </svg>
                            <span>Chiller plants</span>    
                        </li>
                        <li>
                            <svg class="icon">
                                <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                            </svg>
                            <span>AHU, FCU, VAV, and CCU</span>    
                        </li>
                        <li>
                            <svg class="icon">
                                <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                            </svg>
                            <span>Fresh Air units</span>    
                        </li>
                        <li>
                            <svg class="icon">
                                <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                            </svg>
                            <span>Chilled water pumps</span>    
                        </li>
                        <li>
                            <svg class="icon">
                                <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                            </svg>
                            <span>Package units</span>    
                        </li>
                        <li>
                            <svg class="icon">
                                <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                            </svg>
                            <span>Datacenter cooling</span>    
                        </li>
                    </ul>
                </div>
            </div>

        </section>

        <section
            class="col-md-12 my-5 px-5 section-6 d-flex flex-column justify-content-center align-items-center text-center">
            <img src="../../../assets/op-main/op-main-info.jpg.png" alt="" style="width: 70%;">
            <p class="paragraphs container">We handle your complete HVAC plants with our tailor made Comprehensive and
                Non-Comprehensive range of AMCs
                to cater to your short- and long-term services of you HVAC system. Our AMC Includes cleaning of AHU
                filters,
                Coil Cleaning, Coil Combing, Duct Cleaning, Repair and replacements of damaged or rusted ducts,
                insulations
                and Sealants And Insulation.</p>
        </section>

    </div>
</div>