<div class="container-fluid">
    <div class="row">
        <div class="mainimg col-md-12 px-0 d-flex align-items-center justify-content-center">
            <img id="banner" src="../../../assets/hvac-ducting/ducting-banner.jpg" alt="">
            <div class="content">
                <h1 class="mainheading ml-3">HVAC Ducting</h1>
            </div>
        </div>

        <div class="container text-center mt-5 section-0">
            <h2 class="headings">Premium Solutions for Complex Connections</h2>
            <hr class="hr-underline">
            <p class="paragraphs text-justify">As a professional experts we are by far one of the most reliable, trusted, and leading
                and most preferred contractors of Pakistan catering to projects of all disciplines HVAC Installations,
                Ducting, Fire Fighting, Plumbing, Operation and Maintenance.
                Since inception Captive Aire is focused on delivering highest quality of services being a top
                contractors over last decade has privileged Captive Aire to work with reputed contractors consultants
                and clients of large number of prestigious projects of varying value and scales including commercial
                buildings, hospitals, educational buildings, Pharmaceuticals, Hotels, Residential buildings, Power
                plants, manufacturing setups. All projects are managed and executed by our in-house team of engineers
                and technicians.
            </p>
        </div>


        <section class="col-md-12  d-flex flex-column align-items-center px-5 section-1 my-4" style=" height: fit-content;">
            <h4 class="card-title headings my-3">HVAC Ducts</h4>
            <div class="w-100 d-flex justify-content-center mt-3 section-1a">
                <div class="col-md-4" *ngFor="let item of array2">
                    <div class="card text-center d-flex align-items-center justify-content-center p-4">
                        <img src={{item.img}} style="width:100%; height:150px;" alt="">
                        <h5 class="card-title my-3">{{item.product}}</h5>
                        <details class="mb-2">
                            <summary>Read More</summary>
                            <p class="paragraphs text-justify">{{item.desc}}</p>
                            <!-- <img src="../../../assets/fire-protection/approved.png" alt="" style="height: 70px;
                        width: 220px;"> -->
                        </details>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-md-12 d-flex align-items-center mt-5 px-5 section-2">
            <div class="col-md-6 text-justify d-flex flex-column">
                <h4 class="card-title headings my-3 ">Sheet Metal Ducting</h4>
                <p class="paragraphs">CAPTIVE AIRE has become one of the leading manufacturer of Metal ducts with
                    production setup at his owned production plant located in Sundar industrial estate Lahore. We made
                    machines made metal ducting as per highest international standards in different materials GI, mild
                    steel, stainless steel and aluminum
                </p>
                <!-- <details class="mb-2">
                    <summary>Featured Equipment For Metal Ducting</summary> -->
                    <ul>
                        <li *ngFor="let item of featuredEquip">
                            <svg class="icon">
                                <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                            </svg>
                            <span>{{item}}</span>    
                        </li>
                    </ul>
                <!-- </details> -->
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="../../../assets/hvac-ducting/metal-ducting.png" alt="" style="width: 90%; padding: 10px;">
            </div>
        </section>

        <section class="col-md-12 text-center my-5 px-5 d-flex flex-column  justify-content-center section-3 ">
            <h4 class="card-title headings my-3 ">Metal Ducting Manufacturing & Production Process </h4>
            <!-- <hr class="hr-underline"> -->
            <p class="paragraphs text-justify">Our Project Managers after receiving the tagged drawing, a fabrication schedule is
                prepared for the ducts to be made after coordinating with the project engineer and consultant. At
                production plant the fabricator receives the fabrication schedule and dimensions of the duct to be
                manufactured. CNC Operator inputs the data into the CNC machine such as coil line or Plasma cutter. The
                square ducts are processed through the CNC operated Coil Line machine to make ducts of (standard
                length). This duct is then passed through the duct zipper for seam joining and Automatic Precision Cleat
                bending machine for “C” cleats to form complete duct. At each stage, a factory technician is
                continuously monitoring the quality.
                After completion these ducts are sent to quality inspection by Quality Assurance Officer.
            </p>
            <div class=" d-flex align-items-center justify-content-center">
                <ul class="text-left mt-3">
                    <li>
                        <svg class="icon">
                            <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                        </svg>
                        <span>Gate-out from factory for site delivery</span>    
                    </li>
                    <li>
                        <svg class="icon">
                            <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                        </svg>
                        <span>Site Installation</span>    
                    </li>
                    <li>
                        <svg class="icon">
                            <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                        </svg>
                        <span>Testing and Commissioning</span>    
                    </li>
                </ul>
            </div>
            <div class="img-placement d-flex justify-content-center mt-4" style="gap:20px">
                <img src="../../../assets/hvac-ducting/m-1.jpg" alt="" style="height: 300px; width:500px">
                <img src="../../../assets/hvac-ducting/m-2.jpg" alt="" style="height: 300px; width:500px">
            </div>
        </section>

        <section class="col-md-12 text-center mt-5 px-5 section-4 ">
            <h4 class="headings my-3">Fabric Ducting</h4>
            <!-- <hr class="hr-underline"> -->
            <div class="d-flex align-items-center section-4a">
                <div class="col-md-8 text-left">
                    <h4 class="card-title subheadings my-3 ">Comfortable Solutions For The Well-Being Of People</h4>
                    <p class="paragraphs text-justify">We provide an air dispersion systems through world leading
                        certiﬁed manufacturer ONEAIR ITALY.
                        Our solutions are based on technical competence in close cooperation
                        with our customers to ensure a product that matches your demands at a competitive price
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../assets/hvac-ducting/oneair-logo.png" alt="" style="    height: 50px;
                    width: 180px">
                </div>

            </div>
        </section>

        <section class="col-md-12 w-100 section-5">
            <img src="../../../assets/hvac-ducting/ducting-banner2.jpg" alt="" style="height: 300px; width:50%; padding: 10px;">
            <img src="../../../assets/hvac-ducting/ducting-banner3.jpg" alt="" style="height: 300px; width:50%; padding: 10px">
        </section>

        <section class="col-md-6 mt-5 px-5 section-6">
            <h4 class="subheadings text-center">Solution In Lightness & Practicality</h4>
            <details class="mb-2" *ngFor="let item of solutionsArray">
                <summary>{{item.title}}</summary>
                <span class="paragraphs">{{item.desc}}</span>
            </details>
        </section>

        <section class="col-md-6 my-5 px-5 section-7">
            <h4 class="subheadings text-center">Features & Benefits</h4>
            <details class="mb-2" *ngFor="let item of featuresArray">
                <summary>{{item.title}}</summary>
                <span class="paragraphs">{{item.desc}}</span>
            </details>
        </section>

        <!-- <section class="col-md-12 w-100 my-5 text-center section-8">
            <img src="../../../assets/hvac-ducting/prog-manag-flowchart.png" alt="" style="height: auto; width: 60%;">
        </section> -->

    </div>
</div>