.mainimg {
    height: 300px;
    position: relative;
}


#banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.icon {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: var(--blue-color);
    fill: #fff;
    padding: 0px 6px 3px;
}
.content {
    position: absolute;
}

.mainheading {
    color: white;
    font-weight: 500;
}

.headings {
    color: var(--blue-color);
    font-size: 28px;
}

.hr-underline {
    width: 15%;
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
}

.paragraphs {
    color: var(--grey-color);
    line-height: 1.7;
}


ul {
    color: var(--grey-color);
    font-weight: 600;
}

li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

summary {
    color: var(--red-color);
}

.card p {
    padding: 0px 20px;
}

.card-title {
    color: var(--blue-color);
}

.card {
    padding: 0px !important;
}

.section-2 ul{
    text-align: left !important;
}

.section-2, .section-4, .section-5{
    background-color: var(--light-blue-color);
}

.subheadings {
    color: var(--blue-color);
    font-size: 22px;
}

.icon {
    height: 28px;
    width: 28px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: var(--blue-color);
    fill: #fff;
    padding: 0px 6px 3px;
}

@media(max-width:500px) {

    .mainimg{
        height: 202px;
    }
    
    .mainheading {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    #banner {
        height: 200px;
    }

.headings, .subheadings{
    text-align: center !important;
}
    .section-0, .section-2, .section-3, .section-4{
        padding: 0px 20px !important;
    }

    .section-0 p, .section-2 p, .section-3 p {
        text-align: justify;
    }

    .section-1a, .section-2, .section-4a {
        display: block !important;
    }

    .card {
        margin-top: 20px;
    }

    .img-placement{
        display: block !important;
    }
    .img-placement img{
        height: 200px !important;
        width: 100% !important;
        margin-top: 10px;
    }

    .section-8 img,  .section-5 img ,  .section-2 img{
        width: 100% !important;
       
    }

    .section-5{
        display: flex;
        flex-direction: column;
    }


}