<nav class="navbar navbar-expand-lg d-flex align-items-center">
  <a class="navbar-brand" href="#">

    <img id="logo" src="../../../assets/images/cropped-web-3.png" alt="">
  </a>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="temp">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">Company</button>
          <div class="dropdown-content">
            <a class="d-lg-none d-sm-block d-xs-block" routerLink="/about" data-toggle="collapse"
              data-target=".navbar-collapse">About</a>
            <a class="d-none d-lg-block d-xl-block" 
              routerLink="/about">About</a>
            <!--  -->
            <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
              routerLink="/leadership">Leadership</a>
            <a class="d-none d-lg-block d-xl-block" routerLink="/leadership">Leadership</a>
            <!--  -->
            <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
              routerLink="/values">Values</a>
            <a class="d-none d-lg-block d-xl-block" routerLink="/values">Values</a>
            <!--  -->
            <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
              routerLink="/operational-excellence">Operational Excellence</a>
            <a class="d-none d-lg-block d-xl-block" routerLink="/operational-excellence">Operational Excellence</a>
            <!--  -->
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">Business Segments</button>
          <div class="dropdown-content">
            <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
              routerLink="/hvac">HVAC</a>
            <a class="d-none d-lg-block d-xl-block" routerLink="/hvac">HVAC</a>
            <!--  -->
            <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
              routerLink="/fresh-air-treatment">Fresh Air Treatment and Dessicant
              Dehumidification</a>
            <a class="d-none d-lg-block d-xl-block" routerLink="/fresh-air-treatment">Fresh Air Treatment and Dessicant
              Dehumidification</a>
            <!--  -->
            <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
              routerLink="/fire-protection">Fire Protection and Safety </a>
            <a class="d-none d-lg-block d-xl-block" routerLink="/fire-protection">Fire Protection and Safety </a>
            <!--  -->
          </div>
        </div>
      </li>


      <li class="nav-item">
        <div class="dropdown">
          <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
            routerLink="/installation-services"><button class="dropbtn">Installations & Services</button> </a>
          <a class="d-none d-lg-block d-xl-block" routerLink="/installation-services"><button
              class="dropbtn">Installations & Services</button> </a>
          <!--  -->
          <!-- <div class="dropdown-content"> 
            <a routerLink="/hvac-ducting">HVAC Ducting</a>
            <a routerLink="/plumbing">Plumbing</a>
            <a routerLink="/fire-fighting">Fire Fighting</a>
            <a routerLink="/operation-maintenance">Operation & Maintenance</a>
            <a routerLink="/exclusive-services">Exclusive Services</a>
          </div> -->
        </div>
      </li>

      <li class="nav-item">
        <div class="dropdown">
          <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
            routerLink="/projects"><button class="dropbtn">Projects</button> </a>
          <a class="d-none d-lg-block d-xl-block" routerLink="/projects"><button class="dropbtn">Projects</button> </a>
        </div>
      </li>

      <li class="nav-item">
        <div class="dropdown">
          <a class="d-lg-none d-sm-block d-xs-block" data-toggle="collapse" data-target=".navbar-collapse"
            routerLink="/contact-us"><button class="dropbtn">Contact</button> </a>
          <a class="d-none d-lg-block d-xl-block" routerLink="/contact-us"><button class="dropbtn">Contact</button> </a>
        </div>
      </li>

    </ul>

  </div>
</nav>