<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="mainimg col-md-12 px-0 d-flex align-items-center justify-content-center">
            <img id="banner" src="../../../assets/images/sets-cooling-towers-data-center-building.webp"
                alt="image of cooling towers">

            <div class="content text-center">
                <h1 class="mainheading m-0">Heating Ventilation Air Conditioning Refrigeration</h1>
            </div>
        </div>

        <div class="container px-5 text-center my-4">
            <h2 class="headings">Innovative Products, Services & Solutions </h2>
            <hr class="hr-underline">
            <p class="text-justify">We provide innovative products, controls, services and solutions to meet the
                Heating, Ventilation and
                Cooling needs while enhancing building performance, energy efﬁciency and sustainability.
                Through our leading brands we offer an innovative and complete product portfolio, including Chillers,
                Air Handling Units, Fan Coil Units, Packaged type Air conditioners Cooling Towers, OT ceilings, Data
                Center Precision Air Conditioners, Ecological Units, Car Parking Ventilation, VRF AC systems followed by
                an effective, installation after sales repair and maintenance services.
            </p>
        </div>


        <div class="col-md-12 text-center px-5 section-1">
            <h3 class="brand-heading headings">Air Conditioning Heating & Ventilation Brands</h3>
            <hr class="hr-underline">

            <div class="row my-4">
                <div class="col-md-12 mb-5 d-flex justify-content-center">
                    <div class="card d-flex flex-row align-items-center p-2">
                        <div class="test card-section flex-column w-50 h-100">
                            <h4 class="card-title m-0">Rhoss S.P.A NIBE Group Italy </h4>
                            <img class="logo" src="../../../assets/logos/rhoss-logo.png" alt="rhoss logo">
                            <div class="card-body ">
                                <p class="card-para">Since 1968 Rhoss has been a guarantee for innovation, quality and
                                    top level of services. Clean and green heating and cooling systems.
                                    A complete product offer for HVAC specialists.
                                    Eurovent Certified.
                                </p>
                                <span>visit <a href="https://www.rhoss.it/the-group/">www.rhoss.it</a> for more.</span>
                            </div>
                            <div id="carouselRhoss" class="carousel slide" data-ride="carousel" data-interval="1500">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" *ngFor="let item of RhossArray let i = index"
                                        [ngClass]="{'active': i == 0 }">
                                        <img id="products1" class="d-block" [src]=item alt="logo slides">
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselRhoss" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselRhoss" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-section w-50">
                            <img class="client-flyer" src="../../../assets/images/Rhoss/rhoss-flyer.jpg"
                                alt="image of Rhoss company flyer">
                        </div>
                    </div>
                </div>
            </div>
            <!-- card end -->

            <div class="row my-4">
                <div class="col-md-12 mb-5 d-flex justify-content-center">
                    <div class="card d-flex flex-row align-items-center p-2">
                        <div class="test card-section flex-column w-50 h-100">
                            <h4 class="card-title m-0">TECNAIR LV Italy</h4>
                            <img class="logo" src="../../../assets/logos/teknair-logo.png" alt="rhoss logo"
                                style="object-fit:cover">
                            <div class="card-body ">
                                <p class="card-para">We represent TECNAIR LV Italy. It is the part of the LU-VE Group
                                    and
                                    has been increasingly in the forefront, in Europe and in the world, of the Close
                                    Control Air Conditioning” sector. One of the oldest global commercial heating and
                                    air conditioning equipment
                                    manufacturer.
                                    Compliance to the European Regulation1253/2014/EU ErP NRVU.
                                    Designed to meet the requirements of environmentally sustainable development.
                                    EC Certification.
                                </p>
                                <span>visit <a href="https://www.tecnairlv.it/">https://www.tecnairlv.it/</a> for
                                    more.</span>
                            </div>
                            <div id="carouselTechnair" class="carousel slide" data-ride="carousel" data-interval="1500">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" *ngFor="let item of technairArray let i = index"
                                        [ngClass]="{'active': i == 0 }">
                                        <img id="products1" class="d-block" [src]=item alt="logo slides">
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselTechnair" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselTechnair" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-section w-50">
                            <img class="client-flyer" src="../../../assets/images/technair/technair-flyer.jpg"
                                alt="image of teknair company flyer" style="object-fit: fill;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- card end -->

            <div class="row my-4">
                <div class="col-md-12 mb-5 d-flex justify-content-center">
                    <div class="card d-flex flex-row align-items-center p-2">
                        <div class="test card-section flex-column w-50 h-100">
                            <h4 class="card-title m-0">Dunham-Bush Malaysia</h4>
                            <img class="logo" src="../../../assets/logos/DB-logo.png" alt="DB logo"
                                style="object-fit:cover">
                            <div class="card-body ">
                                <p class="card-para">We represent Dunham-Bush Malaysia, founded in USA in 1984.
                                    One of the oldest global commercial heating and air conditioning equipment
                                    manufacturer.
                                    Clean and green heating and cooling systems.
                                    AHRI Certified.
                                </p>
                                <span>visit <a href="https://dunham-bush.com/our-products/">https://dunham-bush.com</a>
                                    for more.</span>
                            </div>
                            <div id="carouselBush" class="carousel slide" data-ride="carousel" data-interval="1500">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" *ngFor="let item of BushArray let i = index"
                                        [ngClass]="{'active': i == 0 }">
                                        <img id="products1" class="d-block" [src]=item alt="logo slides">
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselBush" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselBush" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-section w-50">
                            <img class="client-flyer" src="./../../assets/images/Bush/DB-flyer.jpg"
                                alt="image of DB company flyer" style="object-fit: contain;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- card end -->
            <div class="row my-4">
                <div class="col-md-12 mb-5 d-flex justify-content-center">
                    <div class="card d-flex flex-row align-items-center p-2">
                        <div class="test card-section flex-column w-50 h-100">
                            <h4 class="card-title m-0">Halton Malaysia</h4>
                            <img class="logo" src="../../../assets/logos/halton_logo.png" alt="halton logo"
                                style="object-fit:cover">
                            <div class="card-body ">
                                <p class="card-para">We represent Halton Malaysia,
                                    Global technology leader in indoor climate solution provider.
                                    A mission to enable people’s wellbeing in healthy environments.
                                    Safe Comfortable and productive Indoor environment solutions.
                                    Energy Efficient sustainable ventilation solutions.
                                    UL Listed.
                                </p>
                                <span>visit <a href="https://www.halton.com">https://www.halton.com</a>
                                    for more.</span>
                            </div>
                            <div id="carouselHalton" class="carousel slide" data-ride="carousel" data-interval="1500">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" *ngFor="let item of haltonArray let i = index"
                                        [ngClass]="{'active': i == 0 }">
                                        <img id="products1" class="d-block" [src]=item alt="logo slides">
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselHalton" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselHalton" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-section w-50">
                            <img class="client-flyer" src="./../../assets/images/halton/halton-flyer.jpg"
                                alt="image of halton company flyer" style="object-fit: contain;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- card end -->

            <div class="row my-4">
                <div class="col-md-12 mb-5 d-flex justify-content-center">
                    <div class="card d-flex flex-row align-items-center p-2">
                        <div class="test card-section flex-column w-50 h-100">
                            <h4 class="card-title m-0">KINGSUN China</h4>
                            <img class="logo" src="../../../assets/logos/kingsun-logo.png" alt="kingsun logo"
                                style="object-fit:contain">
                            <div class="card-body ">
                                <p class="card-para">We represent KINGSUN China, Cooling Towers
                                    Persistence and Competitive Strength.
                                    One of the oldest global commercial heating and air conditioning equipment
                                    manufacturer.
                                    Benefit yourselves from the power of our system integration service.
                                    Trust winning product.
                                    Total customized solution.
                                    TUV and CTI Certification.
                                </p>
                                <span>visit <a href="https://kingsunct.com/en/products">https://kingsunct.com</a>
                                    for more.</span>
                            </div>
                            <div id="carouselKingsun" class="carousel slide" data-ride="carousel" data-interval="1500">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" *ngFor="let item of kingsunArray let i = index"
                                        [ngClass]="{'active': i == 0 }">
                                        <img id="products1" class="d-block" [src]=item alt="logo slides">
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselKingsun" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselKingsun" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-section w-50">
                            <img class="client-flyer" src="../../../assets/images/kingsun/kingsun-flyer.jpg"
                                alt="image of kingsun company flyer" style="object-fit: contain;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- card end -->

            <div class="row my-4">
                <div class="col-md-12 mb-5 d-flex justify-content-center">
                    <div class="card d-flex flex-row align-items-center p-2">
                        <div class="test card-section flex-column w-50 h-100">
                            <h4 class="card-title m-0">AUX China</h4>
                            <img class="logo" src="../../../assets/logos/aux-logo.png" alt="aux logo"
                                style="object-fit:contain">
                            <div class="card-body ">
                                <p class="card-para">We represent AUX China, the 3rd largest manufacturer of VRF and
                                    light commercial air conditioning systems. It is an enterprise group established in
                                    1986.
                                    Sustainable heating and air conditioning solutions.
                                    Full range of VRF systems.
                                    AHRI Certified.
                                </p>
                                <span>visit <a href="https://www.auxcac.cn">https://www.auxcac.cn</a>
                                    for more.</span>
                            </div>
                            <div id="carouselAux" class="carousel slide" data-ride="carousel" data-interval="1500">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" *ngFor="let item of auxArray let i = index"
                                        [ngClass]="{'active': i == 0 }">
                                        <img id="products1" class="d-block" [src]=item alt="logo slides">
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselAux" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselAux" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-section w-50">
                            <img class="client-flyer" src="../../../assets/images/auxx/aux-flyer.jpg"
                                alt="image of aux company flyer" style="object-fit: scale-down;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- card end -->

        </div>
    </div>