.mainimg {
    height: 300px;
    position: relative;
}


#banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}


.content {
    position: absolute;
}

.mainheading {
    color: white;
    font-weight: 500;
}


#op-ex-img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

p{
    color: var(--grey-color);
    line-height: 1.7; 
}

ul{
    color: var(--blue-color); font-weight: 600;
    padding: 0;
}
li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

h2{
    color: var(--red-color);
}

.excellence {
    margin: 0 auto;
}

.icon {
    height: 28px;
    width: 28px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: var(--blue-color);
    fill: #fff;
    padding: 0px 6px 3px;
}

@media(max-width:500px){

    .mainheading{
     font-size: 30px;
     width: 100%;
    }
 
    .content{
     display: flex;
     justify-content: center;
     align-items: center;
    }
 
    #banner{
     height: 200px;
    }
 }