<div class="container-fluid">
    <div class="row">
        <div class="mainimg col-md-12 px-0 d-flex align-items-center justify-content-center">
            <img id="banner" src="../../../assets/images/1st-Image.jpeg" alt="">
            <div class="content">
                <h1 class="mainheading m-0">Operational Excellence</h1>
            </div>
        </div>
        <div class="mt-4 p-5">
            <p> At Captive Aire every of our employee knows their respective contribution to the flow of value to the
                customer work together to implement excellence practices in all our business activities and are
                proactively responsible of their tasks </p>
        </div>

        <div class="excellence">
            <p> We achieve operational excellence through</p>
            <ul>
                <li>
                    <svg class="icon">
                        <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                    </svg>
                    <span>An honest assessment</span>
                </li>
                <li>
                    <svg class="icon">
                        <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                    </svg>
                    <span>Clear vision, goals, and objectives</span>
                </li>
                <li>
                    <svg class="icon">
                        <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                    </svg>
                    <span>A supportive and engaged team</span>
                </li>
                <li>
                    <svg class="icon">
                        <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                    </svg>
                    <span>Commit to continuous improvement</span>
                </li>
                <li>
                    <svg class="icon">
                        <use xlink:href="../../assets/icons/sprite.svg#tick"></use>
                    </svg>
                    <span>The right metrics</span>
                </li>
            </ul>
        </div>

        <div class="col-md-12 text-center mt-3">
            <h2>CONSISTENTLY DELIVERING VALUE TO OUR CUSTOMERS</h2>
        </div>

        <div class="col-md-12">
            <img id="op-ex-img" src="../../../assets/images/op-exe.jpg" alt="">
        </div>
    </div>
</div>
