<div class="container-fluid p-0">
    <div class="row">
        <div class="mainimg col-md-12 px-0 d-flex align-items-center justify-content-center">
            <img id="banner" src="../../../assets/images/a-beginners-guide-to-the-future-of-hvac-design-1-1.jpg" alt="image of hvac system">
            <div class="content">
                <h1 class="mainheading m-0">Installation & Services</h1>
            </div>
        </div>
        <!-- 
        <div class="section-0 px-5 m-4">
            <div class="col-md-12 text-center">
                <p class="paragraphs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure distinctio,
                    quod ut illo labore, repudiandae ducimus aperiam explicabo obcaecati vel nemo voluptatem.
                    Accusantium
                    voluptatum nulla, dolor nisi aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                    atque veritatis alias dolore sed tenetur dolorem eligendi, aperiam eveniet fuga. Quas voluptatem
                    minus
                    doloribus nesciunt dolorem eos similique blanditiis quis.</p>
            </div>
        </div> -->
    </div>

    <div class="col-md-12 section-1 mt-5">
        <div *ngFor="let item of array1">
                <div class="card" (click)="scroll(item.id)">
                    <!-- <img class="card-img-top" src="../../../assets/images/fire detection.jpeg" alt="Card image cap"> -->
                    <div class="card-body p-0 text-center">
                        <h4 class="card-title m-0">{{item.title}}</h4>
                    </div>
                </div>
        </div>
    </div>


    <div class="w-100 d-flex justify-content-end p-4" id="scrollbtn">
     
        <!-- <button type="button" class="btn-floating btn-lg" id="btn-back-to-top" (click)="scrollToTop()" > -->
            <i class="bi-arrow-up-circle-fill" id="btn-back-to-top" (click)="scrollToTop()"></i>
        <!-- </button> -->

    </div>

</div>

<app-hvac-ducting id="ducting"></app-hvac-ducting>
<app-plumbing id="plumbing"></app-plumbing>
<app-fire-fighting id="fire-fight"></app-fire-fighting>
<app-operation-maintenane id="op-main"></app-operation-maintenane>
<app-exclusive-services id="ex-services"></app-exclusive-services>