.mainimg {
    height: 300px;
    position: relative;
}


#banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}


.content {
    position: absolute;
}

.mainheading {
    color: white;
    font-weight: 500;
}

.heading1,
.heading2 {
    color: var(--blue-color);
    font-size: 28px;

}


p {
    color: var(--grey-color);
    line-height: 1.7;
}


.section-img {
    height: 200px;
    width: 400px;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

#building-img {
    width: 40%;
    animation: 1s ease-out 0s 1 slideInFromRight;
}


.section-content {
    font-size: 14px;
    padding: 0 50px;
}

ul {
    color: var(--blue-color);
    font-weight: 600;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    margin: 0 0 20px 0;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}

.projects-sec {
    margin: 0 auto;
}


hr {
    width: 20%;
    border: 1px solid var(--red-color);
    margin: 0px;
    margin-bottom: 8px;
}

.images-section {
    display: flex;
    justify-content: space-around;
}

.section,
.middle-section {
    padding: 0 45px
}

.subheadings {
    color: var(--blue-color);
    font-size: 22px;
}

.headings {
    color: var(--blue-color);
    font-size: 28px;
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


@media(max-width:500px) {

    .mainimg{
        height: 202px;
    }
    
    .mainheading {
        font-size: 30px;
        width: 100%;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner {
        height: 200px;
    }

    .middle-section {
        flex-direction: column;
        text-align: center; padding: 0px;
    }

    .section {
        padding: 0px;
    }

    .images-section {
        flex-direction: column;
        margin: 0 10px;
    }


    .section-img {
        height: 200px;
        width: 320px;
        margin-top: 7px;
    }

    #building-img {
        height: 200px;
        width: 320px;
    }

    .hr-underline{
        width: 50%;
    }
    
}