<div class="container-fluid">
    <div class="row">
        <div class="mainimg col-md-12 px-0 d-flex align-items-center justify-content-center">
            <img id="banner" src="../../../assets/images/a-beginners-guide-to-the-future-of-hvac-design-1-1.jpg" alt="">

            <div class="content">
                <h1 class="mainheading m-0">About Us</h1>
            </div>
        </div>


        <div class="section my-1 p-5 col-md-12 d-flex flex-column align-items-center">
            <!-- <div class="col-md-12 d-flex flex-column align-items-center"> -->
                <h2 class="my-3 heading1 text-center">Engineering Specialist Company</h2>
                <hr>
                <p class="text-justify my-3">We are a country-wide leader engineering specialist Company involved in supply and
                    installation of
                    Heating, Ventilation, Air conditioning, Industrial Dehumidiﬁcation, Fireﬁghting & Plumbing systems
                    working in public and private sector since 1994.
                    Right from its inception, Captive Air is delivering values to its customers, have led in bringing
                    new
                    technologies, and today, we continue to lead because we keep customers satisfaction as our top
                    priority
                    while offering any product or services. </p>
            <!-- </div> -->
            <div class="col-md-12 d-flex justify-content-center align-items-center">

                <img id="building-img" src="../../../assets/images/building.png" alt="">
            </div>
        </div>


        <div class="middle-section col-md-12 d-flex mt-5">
            <div class="col-md-6 d-flex flex-column align-items-center text-center">
                <h2 class="my-3 subheadings">Improving the Environment Comfort</h2>
                <!-- <hr> -->
                <p class="section-content text-justify">At Captive Aire our task is very straight forward, to improve
                    the environment
                    comfort whilst ensuring that our engineering experts is on hand to guide our customers through the
                    process of specifying and acquiring the right product as per their need. At all levels in the
                    company, we work as a TEAM to implement excellent practices in all of our activities, to beneﬁt our
                    customers. <br> <br> <br> </p> 
                <img class="section-img" src="../../../assets/images/SS.jpg" alt="">
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center">
                <h2 class="my-3 subheadings">Delivering State of the Art Technology </h2>
                <!-- <hr> -->
                <p class=" section-content text-justify">At Captive Aire we make it possible by delivering state of the
                    art technology to our customer’s right from the inception, preparation of Engineering proposals, Cost Estimates,
                    delivering
                    the equipment and Services and finally testing & commissioning followed by after-sale support by
                    dedicated expert
                    Company is representing an extensive range of products to meet customer’s needs including Chillers,
                    Air
                    handling Units, Fan Coil Units, Cooling Towers, VRF AC Units, Air Filtration, Dehumidiﬁcation,
                    Energy
                    Recovery and Fireﬁghting equipment.</p>
                <img class="section-img mb-3" src="../../../assets/images/STATEOFART.jpg" alt="">
            </div>
        </div>

        <!-- <div class="section w-100 mb-5">
            <div class="images-section col-md-12">
                <img class="section-img" src="../../../assets/images/SS.jpg" alt="">
                <img class="section-img" src="../../../assets/images/STATEOFART.jpg" alt="">
            </div>
        </div> -->


        <div class="section mb-4 pt-5">
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 projects-sec">
                <h2 class="my-3 headings text-center">Projects</h2>
                <p>So far company has completed projects in almost all sectors of life. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Ex mollitia quo recusandae, perferendis facere alias dignissimos earum
                    quisquam obcaecati nobis modi dolorum molestiae omnis. Dignissimos minus dolores dolore esse
                    recusandae!
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Commercial & Ofﬁce buildings</span>
                            </li>
                            <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Oil & Gas sector</span>
                            </li>
                            <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Power Plants</span>
                             </li>
                            <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Hotels and Resorts</span>
                             </li>
                            <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Food & Beverages</span>
                             </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Textile & Automobile</span>
                             </li>
                             <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Hospitals & Pharmaceuticals</span>
                             </li>
                             <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Multinational food chains</span>
                             </li>
                             <li>
                                <svg class="icon">
                                    <use xlink:href="../../assets/icons/sprite.svg#briefcase"></use>
                                </svg>
                                <span>Shopping Malls & Education</span>
                             </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>



    </div>
    <!-- row-end -->

</div>
<!-- container-end -->