<div class="container-fluid">
    <div class="row content-area f-flex justify-content-between" style="padding: 0 0 60px 0;">
        <!-- <div class="">
            <img id="logo" src="../../../assets/images/CA-logo-white.png" alt="">
        </div> -->

        <div class="col-md-6 d-flex flex-column align-items-center">
            <p id="contact-us" class="text-center">Main Office</p>
           <p>305-J, 3rd Floor, Office No.2, EME Sector, Multan Road- Lahore</p>

        </div>


        <div class="col-md-6">
            <p id="contact-us" class="text-center">Contact us</p>
            <div class="icons" style="column-gap: 10px;">
                <div class="icon-content d-flex">
                    <i class="bi-envelope mr-2"></i>
                    <p class="contact-info">info@captive-air.com</p>
                </div> <span id="divider" style="color:var(--red-color)">|</span>
                <div class="icon-content d-flex">
                    <i class="bi-telephone mr-2"></i>
                    <p class="contact-info">123456789</p>
                </div>
            </div>

        </div>

<!-- 
        <div class="col-md-4 d-flex justify-content-end align-items-center social-icons">
            <i class="bi-facebook"></i>
            <i class="bi-instagram"></i>
            <i class="bi-linkedin"></i>
            <i class="bi-twitter"></i>
        </div>
    </div> -->


    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center rights-area">
        <hr class="m-0 mb-1" style="width:100%;  border-top: 1px solid rgb(170, 170, 170)">
        <p style="color:rgb(170, 170, 170)"> © 2022 Captive Air. All rights reserved. </p>
    </div>

</div>